body {
    margin: 0;
    padding: 0;
}

.container {
    height:100vh;
}

#map {
    height: 100%;
}

.map-wrapper {
    height:100vh;
}

.leaflet-control#article {
    max-height: 90.5vh;
    height: initial;
}

.italic {
    font-style: italic;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}